[submodule "sdk/libDaisy"]
	path = sdk/libDaisy
	url = git@github.com:Alloyed/libDaisy.git
	branch = patch-2
[submodule "sdk/imgui"]
	path = sdk/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "sdk/pugl"]
	path = sdk/pugl
	url = https://github.com/lv2/pugl.git
